@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Lao:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans Lao", sans-serif;
}

@layer components {
  ._container {
    @apply max-w-7xl px-4 mx-auto flex flex-col gap-20 py-16;
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #88888886;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

div.swiper-button-prev,
div.swiper-button-next {
  height: 2rem;
  width: 2rem;
  border-radius: 100%;
  color: #fff;
  border: 0.5px solid #00a6ed;
  background-color: #00a6ed;
}

div.swiper-button-prev::after,
div.swiper-button-next::after {
  color: #FFFFFF; /* Replace with your desired color */
  font-size: 1rem;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #00a6ed;
}
